# carbot.service
#
# found in /lib/systemd/system/carbot.service

# after saving, enable with the command:
# sudo systemctl enable carbot.service

# You can test if a service is running with:
# sudo systemctl is-active carbot.service
[Unit]
Description=carbot mqtt Script Service
After=mosquitto.service

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/GrowBuddy/Doctor/carbot/carbot.py
Restart=always
[Install]
WantedBy=multi-user.target